body {
    background-color: rgb(29, 29, 29);
  }
  
p {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-family: "Monospace", sans-serif;
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-family: "Monospace", sans-serif;
}

h2 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-family: "Monospace", sans-serif;
}

div {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-family: "Monospace", sans-serif;
}

.parent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

/* Container holding the image and the text */
.main_circle {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
}

.circles_parent1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circles_parent2 {
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  
/* Centered text1 */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}